{%extends "base.html"%}
{%block content%}
<div class="navbar">
    <h1>Home</h1>
    <a href="/appointments">
        <button>Create New Event</button>
    </a>
    <a href="/appointments/showall">
        <button>Show All Appointments</button>
    </a>
    <div class="dropdown-content">
            <a href="/appointments/1">Appointment 1</a>
    </div>
</div>
<div class="main_container">
    <div class="main_table">
        <h3>Events created by me</h3>
        <ul>
            {%for event in events%}
            <li>{{event.date}}: {{event.title}}</li>
            {%else%}
            <li>No Events Created</li>
            {%endfor%}
        </ul>
    </div>

    <div class="main_table">
        <h3>My Invitations</h3>
        <ul>
            {%for invitation in invitations%}
            <li>{{invitation.date}}: {{invitation.title}}</li>
            {%else%}
            <li>No Invitations Available</li>
            {%endfor%}
        </ul>
    </div>

    <div class="main_table">
        <h3>Action needed from my side</h3>
        <ul>
            {%for poll in polls%}
            <li>{{poll.title}}</li>
            {%else%}
            <li>You're Up To Date</li>
            {%endfor%}
        </ul>
    </div>
</div>
{%endblock%}