<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M'easy</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg-light">

{% block navbar %}
<nav class="navbar navbar-expand navbar-light bg-light px-4 mb-4 border-bottom">
    <div class="container-fluid">

	{% if user %}
	<a class="navbar-brand fw-bold text-primary" href={{url_for("user_home", user_id = user.id)}}>M'easy</a>
	{% else %}
	<a class="navbar-brand fw-bold text-primary" href={{url_for("home")}}>M'easy</a>
	{% endif %}

        <div class="navbar-nav">
		{% if user %}
            <a class="nav-link active" href="{{ url_for('user_home', user_id=user.id) }}">Home</a>
            <a class="nav-link" href="{{ url_for('new_appointment', user_id=user.id) }}">Event erstellen</a>
		{% else %}
		<a class="nav-link active" href={{ url_for("home")}}>Home</a>
	{% endif %}
        </div>

    </div>
</nav>
{% endblock %}

<main class="container">
    {% block content %}
    {% endblock %}
</main>

<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
