{%extends "base.html"%}
{%block content%}

<div class="main_container">
    {% if user_id %}
    <a href={{url_for("new_appointment", user_id=user_id)}}>Event erstellen</a>
    <div class="main_table">
        <h3>Meine Events</h3>
        <table>
            <thead>
            <tr>
                <th>Event</th>
                <th>Datum</th>
                <th>Details</th>
                <th>Löschen</th>
            </tr>
            </thead>
            <tbody>
            {%for event in events%}
            <tr>
                <td>{{event.title}}</td>
                <td>{{event.start_datetime}}</td>
                <td><a href={{url_for("get_appointment", user_id=user_id, appointment_id=event.id)}}>
                    Ansehen</a>
                </td>
                <td><form action={{url_for("delete_appointment", user_id=user_id,
                          appointment_id=event.id)}} method="POST">
                    <button type="submit">X</button>
                  </form>
                </td>
            </tr>
            {%else%}
            <tr>
                <td>Keine Events zugewiesen</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>

    </div>

    <div class="main_table">
        <h3>My Invitations</h3>
        <ul>
            {%for invitation in invitations%}
            <li>{{invitation.date}}: {{invitation.title}}</li>
            {%else%}
            <li>No Invitations Available</li>
            {%endfor%}
        </ul>
    </div>

    <div class="main_table">
        <h3>Action needed from my side</h3>
        <ul>
            {%for poll in polls%}
            <li>{{poll.title}}</li>
            {%else%}
            <li>You're Up To Date</li>
            {%endfor%}
        </ul>
    </div>
    {% else %}
    <div>
        <h3>Dieser User existiert nicht.</h3>
    </div>
    {%endif%}
</div>
{%endblock%}
