{%extends "base.html"%}
{%block content%}
<div class="navbar">
    <h1>Home</h1>
    <a href="/create_event">
        <button>Create New Event</button>
    </a>
</div>
<div class="main_container">
    <div class="main_table">
        <h3>Events created by me</h3>
        <ul>
            <li>
                <!-- if event, else nothing yet -->
            </li>
        </ul>
    </div>

    <div class="main_table">
        <h3>My Invitations</h3>
        <ul>
            <li><!-- if event, else nothing yet --></li>
        </ul>
    </div>

    <div class="main_table">
        <h3>Action needed from my side</h3>
        <ul>
            <li><!-- if event, else nothing yet --></li>
        </ul>
    </div>
</div>
{%endblock%}