{% extends "base.html" %}

{% block content %}
    <div id='calendar' style="max-width: 900px; margin: 40px auto;"></div>

    <script src='/static/fullcalendar.js'></script>
    
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          
          customButtons: {
            addEventButton: {
              text: '+',
              click: function() {
                window.location.href="/templates/doodle.html";
              }
            }
          },
          
          headerToolbar: {
            left: 'dayGridMonth,timeGridWeek,timeGridDay',
            center: 'title',
            right: 'prev,today,next addEventButton'
          },
          
          // The data placeholder for the Python backend
          events: {{ events_data | default('[]') | tojson | safe }}
        });
        
        calendar.render();
      });
    </script>
{% endblock %}