<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>events</title>
</head>
<body>
    <h1>Events</h1>
    {% if user_id %}
    <a href={{url_for("create_appointment", user_id=request.view_args['user_id'])}}>Neues Event</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Beschreibung</th>
            <th>Zeit</th>
            <th>Link zur Abstimmung</th>
        </tr>
        {% for appointment in appointments %}
        <tr>
            <td>{{appointment.id}}</td>
            <td>{{appointment.title}}</td>
            <td>{{appointment.description}}</td>
            <td>{{appointment.start_time}}</td>
            <td><a href={{url_for("get_appointment",
                   user_id=request.view_args['user_id'],
                   appointment_id=appointment.id)}}>Link</a></td>
        </tr>
        {% endfor %}
    </table>
    {{count}}
    {% else %}
    <h3>User not found</h3>
    {% endif %}
</body>
</html>